@use "variable";

body {
  background-color: variable.$bg;
  color: var(--text);
}

.text-center {
  text-align: center;
}

.square-200 {
  width: 200px;
  height: 200px;
}

.obj-fit {
  object-fit: contain;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
